@import "vars";

.teacher-item {
  background: $SECONDARY_COLOR;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 8px;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  .name {
    font-size: 1.15rem;
  }

  .institute {
    font-size: .85rem;
    margin-top: 16px;
  }
}